.wrapper{margin: 0 auto; width:820px; overflow: hidden}
table{
    border:3px solid #666;
    border-collapse: collapse;
}
.black{width:100px; height:100px; background:#000}
.white{width:100px; height:100px; background:#fff}
